<h1><%= @patient.name %></h1>
  <p>Birthdate: <%= @patient.birthdate %></p>
  <p>Gender: <%= @patient.gender %></p>

<p><%= link_to 'Add New Note', new_patient_note_path(@patient)%></p>
<p><%= link_to 'See All Notes', patient_notes_path(@patient)%></p>
<p><%= link_to 'See All Appointments', patient_appointments_path(@patient)%></p>
<p><%= link_to 'Edit Patient Information', edit_patient_path(@patient)%></p>

<h4>Recent Notes:</h4>

<% @patient.notes.each do |n| %>
  <li><%= n.content %></li>
<% end %>
