<h1>Appointment Details:</h1>

<p><b>Patient Name:</b> <%= @appointment.patient.name %></p>
<p><b>Doctor Name:</b> Dr. <%= @appointment.user.name %></p>
<p><b>Date:</b> <%= @appointment.date.strftime("%B %d, %Y") %></p>
<p><b>Time:</b> <%= @appointment.time.strftime("%k:%M") %></p>

<%= button_to 'Delete Appointment', appointment_path(@appointment), method: :delete, data: { confirm: "Are you sure you want to delete this appointment?" } %>
