<!DOCTYPE html>
<html>
  <head>
    <title>HealthCareNetworkPortal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if logged_in? %>
        <%= link_to "Home", user_path(current_user)%> |
        <%= link_to "Add a Patient", new_user_patient_path(current_user) %> |
        <%= link_to "View All Patients", patients_path %> |
        <%= link_to "View My Patients", user_patients_path(current_user) %> |
        <%= link_to "View All Appointments", appointments_path %> |
        <%= link_to "View My Appointments", user_appointments_path(current_user) %> |
        <%= link_to "Schedule New Appointment", new_user_appointment_path(current_user) %> |
        <%= link_to "Logout", logout_path, method:"delete"%>
      <% else %>
        <%=link_to "Sign Up", signup_path %> |
        <%=link_to "Log In", login_path %> |
        <%=link_to "Log In With Google", '/auth/google_oauth2' %>
      <% end %>
    </div>

    <div>
      <% if flash[:message] %>
      <br><br>
        <%= flash[:message]%>
      <% end %>
      <%= @error%>
    </div>
    <%= yield %>
  </body>
</html>
